@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

.quicksand{
      font-family: "Quicksand", serif;
      font-optical-sizing: auto;
      font-weight: 400;
      font-style: normal;
}

.raleway{
      font-family: "Raleway", serif;
      font-optical-sizing: auto;
      font-weight: 400;
      font-style: normal;
}

.container{
      max-width: 1160px;
      margin: 0 auto;
      /* background: rgb(188, 187, 187); */
}


/* sheared style code  */
li{
      list-style: none;
}
a{
      text-decoration: none;
}
.btn-primary {
      background: #FEA301;
      border: none;
      color: #fff;
      padding: 10px 40px;
      border-radius: 12px;
}



/* header section nav-bar style css */
nav {
      display: flex;
      justify-content: space-around;
      align-items: center;
      padding: 20px 0;
}
.logo {
      display: flex;
      gap: 10px;
}
.menu ul {
      display: flex;
      gap: 20px;
}
.menu a {
      font-size: 20px;
      font-weight: 600;
}
.menu ul li:nth-child(1) a {
      color: #FEA301;
}
.menu ul li:nth-child(2) a {
      color: #01ACFD;
}
.menu ul li:nth-child(3) a {
      color: #05D4DF;
}
.menu ul li:nth-child(4) a {
      color: #5D58EF;
}

/* Menu-bar icon style */
.menu-bar {
      display: none;
}








/* Responsive Style css code */


/* navbar responsive css style */

@media screen and (max-width: 576px) {

      nav{
            justify-content: space-between;
      }
      .menu, .header-btn button, 
      .logo-title
      {
            display: none;
      }
      .menu-bar {
            display: block;
            font-weight: 900;
            font-size: 35px;
      }
}